.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    line-height: 2;
    font-weight: 700;
    text-transform: uppercase;
}

.subtitle {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
}
