.page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    line-height: 2;
    font-weight: 700;
    text-transform: uppercase;
}
