@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap");

:root {
    --color-white: #fff;
    --color-black: #000;
    --container-width: 1440px;
    --container-padding: 5px;
    --text-primary: var(--color-black);
    --bg-primary: var(--color-white);

    color-scheme: light;
}

[scheme="dark"] {
    --text-primary: var(--color-white);
    --bg-primary: var(--color-black);

    color-scheme: dark;
}

*:not(svg *) {
    all: unset;
    list-style: none;
    display: revert;
    box-sizing: border-box;
}

a {
    display: block;
    text-underline: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: Rubik, sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-size: 16px;
}
